<header class="masthead" style="background-image: url('img/iss2.jpg')">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="d-flex justify-content-center" style="padding-top: 450px;">
                <!-- <h1 style="font-size: 80px;" class=
                "portada text-left ">GeoMaps Blog</h1>  -->
                <div class="wrapper">
                    <div class="scroll-text">
                      <h1 class="title-star">STAR WARS</h1>
                      <h2 class="title-star"class="title-star">Scrolling Text Effect</h2>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p>
                    </div>
                  </div>   
            </div>
            <a href="#sec-2"><div class="scroll-down"></div></a>
        </div>
    </div>
  </header>