<header class="masthead" style="background-image: url('img/iss2.jpg')">
    <div class="container h-100">
        <div class="row h-100 align-items-center" >
            <div class="d-flex justify-content-center" style="padding-top: 550px;">
                <h1 style="font-size: 60px;" class=
                "text-left font-weight-light text-white">Geo-Maps Blog</h1>    
            </div>
            <a href="#sec-2"><div class="scroll-down"></div></a>
        </div>
    </div>
  </header>