<header class="masthead" style="background-image: url('img/iss2.jpg')">
    
            <div class="d-flex justify-content-center" >
                <!-- <h1 style="font-size: 80px;" class=
                "portada text-left ">GeoMaps Blog</h1>  -->
                <div class="wrapper">
                    <div class="scroll-text">
                      <!-- <h1 class="title-star">STAR WARS</h1> -->
                      <h1 style="font-size: 80px;" class= "portada text-left title-star">GeoMaps Blog</h1>    
                       <!--  <p> adipisicing elit. Ad maiores aut cupiditate unde ipsam ut fugit deleniti non autem, ab, tempore ratione quo, nihil delectus sequi incidunt voluptates quis. Expedita!</p> -->
                      <!-- <h2 class="title-star">Scrolling Text Effect</h2> -->
                    </div>
                  </div>   
            </div>
            <a href="#sec-2"><div class="scroll-down"></div></a>
        
  </header>