<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background-image: url('img/earth.jpg') ;">
    <div class="container" >
      <a class="navbar-brand" style="font-size: 30px;" href="/">GeoMaps-Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

