<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %> 
    <br>
    <br>
    <br>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <br><br>
                <img src="img/climb.jpg" alt="60%" width="60%" style="border-radius: 80%;">
                </div>
            <div class="col-12 col-md-6 flex-column justify-content-around">
                <div>
                <h3></h3>
                <p>Geomaps Blog is a personal website where I share my knowladges, opinions and interests with everyone who can be interested in the remote sensing and geomatics fields.
                    
                </p>
                </div>
    
                <div>
                     <h3 class="text-main"></h3>
                <p>I'm a geologist with a university master's degree in remote sensing and GIS from the Universitat Autànoma de Barcelona (UAB). 
                    My interests are developing spatial applications and handling geospatial data through code either JavaScript, Python or R.
                    Feel free to contact me if you want to collaborate on any project.
                </p>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center ">
            <img src="img/earth.jpg" alt="400px" width="400px" style="border-radius: 50%; border: 4px maroon solid;">
        </div> 
    </div>
     
   
    <%- include("./partials/footer.ejs") %>
</body>
</html>