<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %> 

    <div class="blogs content">
        <h2>About me</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat quo in corporis impedit, eum error. Fuga, error? Repellendus repellat perspiciatis quae fugiat error unde beatae mollitia, odit dolorum recusandae?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat quo in corporis impedit, eum error. Fuga, error? Repellendus repellat perspiciatis quae fugiat error unde beatae mollitia, odit dolorum recusandae?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat quo in corporis impedit, eum error. Fuga, error? Repellendus repellat perspiciatis quae fugiat error unde beatae mollitia, odit dolorum recusandae?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat quo in corporis impedit, eum error. Fuga, error? Repellendus repellat perspiciatis quae fugiat error unde beatae mollitia, odit dolorum recusandae?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>