<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %> 
    <br>
    <br>
    <br>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <br><br>
                <img src="img/climb.jpg" alt="60%" width="60%" style="border-radius: 80%;">
                </div>
            <div class="col-12 col-md-6 flex-column justify-content-around">
                <div>
                <h3>Titol</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                     odio temporibus nisi dolor! Sit voluptatibus reiciendis perspiciatis expedita deserunt necessitatibus, dolores,
                     ipsam quo vitae harum delectus nisi, est quas esse?</p>
                </div>
    
                <div>
                     <h3 class="text-main">Titol</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                        odio temporibus nisi dolor! Sit voluptatibus reiciendis perspiciatis expedita deserunt necessitatibus, dolores,
                        ipsam quo vitae harum delectus nisi, est quas esse?</p>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center ">
            <img src="img/earth.jpg" alt="400px" width="400px" style="border-radius: 50%; border: 4px maroon solid;">
        </div> 
    </div>
     
   
    <%- include("./partials/footer.ejs") %>
</body>
</html>